@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Work+Sans:wght@300&display=swap');



* {
    a {
        text-decoration: none;
        color: purple;
        // font-style: italic;
    }
}

body {

    background-color: lightblue;


        font-family: 'Work Sans', sans-serif;
        font-weight: 300;
        
       
       
       h1, h2, h3, h4, h5, h6 {
        font-family: 'Montserrat', sans-serif;
        font-weight: 900;
        color: white;
       }
}


#welcome {
    color: white;
    font-size: 3rem;
    
}


header {
    padding: 10%;
    
    p, ol {
        padding: 10px 10%;
        background: rgba($color: white, $alpha: 0.2);
        border-radius: 40px;
        color: lighten($color: black, $amount: 20);
        line-height: 1.5;
    }
}

.projects {
    background-color: white;
    color: black;
    width: 50vw;
}

.clouds {
    position: absolute;
    z-index: -1;


}

#cloud1 {
    top: 5%;
    left: 5px;
}
#cloud2 {
    top: 50%;
    right: 5px;
}
#cloud3 {
    top: 15%;
    left: 50%;
}

