@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');
  
$Font1: 'Red Hat Display', sans-serif;
  
  
$PaleBlue: hsl(225, 100%, 94%);
$BrightBlue: hsl(245, 75%, 52%);
$VeryPaleBlue: hsl(225, 100%, 98%);
$DesaturatedBlue: hsl(224, 23%, 55%);
$DarkBlue: hsl(223, 47%, 23%);


body {
  font-family: $Font1;
  background-color: $PaleBlue;
}


#mainDiv {
  width: 30%;
  background-color: $VeryPaleBlue;
}


#hero {
  width: 100%;
}

#summary {
  font-weight: 700;
}


#description {
  font-weight: 500;
  color: $DesaturatedBlue;
}

#planDiv {


  p {
    font-weight: 500;
    color: $DesaturatedBlue;
  }
}


button, a {
  font-weight: 700;
  border: none;
  cursor: pointer;
}

#change {
  color: $BrightBlue;
  text-decoration: underline;

  &:hover {
    color: rgba($color: $BrightBlue, $alpha: 0.8);
    text-decoration: none;
  }
}

#cancel, #payment {
  // padding: 20px 40px;
  // width: 100%;
}


#payment {
  color: $VeryPaleBlue;
  background-color: $BrightBlue;
  border-radius: 5px;

  &:hover {
    background-color: rgba($color: $BrightBlue, $alpha: 0.8);
  }
}

#cancel {
  color: $DesaturatedBlue;
  background-color: rgba($color: $VeryPaleBlue, $alpha: 0);

  &:hover {
    color: black;
  }
}

