@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

$mainFont: 'Outfit', sans-serif;

$BodyColor: hsl(217, 54%, 11%);
$CardColor: hsl(216, 50%, 16%);
$LineColor: hsl(215, 32%, 27%);
$White: hsl(0, 0%, 100%);
$Softblue: hsl(215, 51%, 70%);
$Light: hsl(178, 100%, 50%);


body {
  background-color: $BodyColor;
  font-family: $mainFont;
}

#card {
  background-color: $CardColor;
}


#title {
  color: $White; 
  font-weight: 600;

  &:hover {
    color: $Light;
    cursor: pointer;
  }
}

#description, #time, #bottomText {
  color: $Softblue;
  font-weight: 300;

  span {
    color: $White;

    &:hover {
      color: $Light;
      cursor: pointer;
    }
  }
}

#price {
  color: $Light;
  font-weight: 400;
}

hr {
  color: $LineColor;
}

#avatar {
  // border: white 1px solid;
  filter: drop-shadow(0px 0px 1px white);
}