$green: hsl(158, 36%, 37%);

body {
    background-color: hsl(30, 38%, 92%);
}


#card {
    background-color: white;
    // width: 40%;
    width: 50%;
    border-radius: 20px;

    display: flex;
    

    // height: 40;
}

button {
    background-color: $green;
    color: white;
    border: none;
    width: 200px;
    padding: 5px 15px;
}

img {
    width: 25vw;
    margin-right: 50px;
    border-radius: 20px;
}

#price1 {
    color: $green;
}

