$green: hsl(158, 36%, 37%);
$font1: 'Fraunces', serif;
$font2: 'Montserrat', sans-serif;

body {
    background-color: hsl(30, 38%, 92%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


#card {
    background-color: white;
    // width: 40%;
    // min-width: 600px;
    width: 650px;
    border-radius: 10px;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    

    // height: 40;
}

button {
    background-color: $green;
    color: white;
    border: none;
    width: 80%;
    padding: 20px 40px;
    border-radius: 8px;
    font-family: $font2;
    margin-top: 5px;
    margin-left: 10%;
    // margin-right: 0 auto;

    display: flex;
    flex-direction: row;
    justify-content: center;


    &:hover {
        background-color: darken($color: $green, $amount: 10);
        cursor: pointer;
    }


    #cart {
        margin-right: 8px;
    }
}

#mainPic {
    // width: 25vw;
    width: 310px;
    // margin-right: 50px;
    border-radius: 10px;
}

#price1 {
    color: $green;
    display: inline-block;
    margin: 20px;
}

#price2 {
    text-decoration: line-through;
    display: inline-block;

}

#contentDiv {
    padding: 5px 20px;
    width: 300px;
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    // justify-content: center;
    // width: 20%;
}

p {
    font-size: 14px;
    font-family: $font2;
    color: hsl(228, 12%, 48%);
    
}


h1 {
    font-family: $font1;
    color: hsl(212, 21%, 14%);
}


#perfume {
    font-family: $font2;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: hsl(228, 12%, 48%);
    padding-top: 10px;
    padding-left: 10px;
    
}


#bodyInfo {
    padding: 0 20px 0 10px;
    line-height: 1.5;
    text-align: left;

}

#title {
    padding-left: 10px;
}